$font-size: 50px;

button {
  font-size: $font-size;
  color: white;
  background-color: green;
  padding: 10px;
}

/* Font-family */
@font-face {
  font-family: "NoirPro-Medium";
  src: url("/static/font/NoirPro-Medium.eot") format('opentype');
  src: url("/static/font/NoirPro-Medium.woff"); 
  src: url("/static/font/NoirPro-Medium.woff2");
}